// The margin between two sections
$margin-promotion-sections: 60px;


md-card-content,md-card{
  height: 500px;
}
.docs-header-section {
  text-align: center;
  padding-top: 100px;
}


.docs-header-headline {
  //h1 {
  //  font-size: 30px;
  //  font-weight: 400;
  //  line-height: 40px;
  //  margin: 15px 0 15px 0;
  //}
  //
  //h2 {
  //  font-size: 18px;
  //  font-weight: 300;
  //  line-height: 28px;
  //  margin: 15px 0 25px 0;
  //}
  img{
    height: 250px;
    width: 250px;
  }

}

.docs-homepage-promo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;

  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }
}


.docs-homepage-row {
  display: flex;
  max-width: 920px;
  margin: $margin-promotion-sections 0;
}

.docs-homepage-row  img {
  max-width: 90%;
}

.docs-homepage-reverse-row {
  flex-direction: row-reverse;
}

.docs-header-start,
.docs-homepage-bottom-start {
  text-align: center;
  margin: $margin-promotion-sections 0;
}

.docs-homepage-promo-img,
.docs-homepage-promo-desc {
  width: 50%;
}

.docs-homepage-promo-img {
  text-align: center;
  color: #000;
  font-size: xx-large;
}

.docs-homepage-promo-desc {
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.docs-header-background {
  height: 600px;
  margin-bottom: 40px;
  color: #fff;
  background: url("../../assets/material_splash.svg");
}
.docs-button{
  color: #00bcd4;
}
