<md-card>
  <md-card-content class="docs-header-headline center" fxLayout="column" fxLayoutAlign="center center">
    <img src="../../assets/Picture1.png">
    <h1>Angular MCON</h1>
    <h2>One Master Controller to rule All your Readers</h2>
    <a md-raised-button class="docs-button" routerLink="dashboard">Get started</a>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content fxLayout.gt="row"  fxLayout.xs="column" fxLayout.sm="row">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="90%">
      <img md-card-image src="../../assets/material-design.png" style="width: 300px; height: 300px">
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50%">
      <h2>Material Design</h2>
      <p>With the </p>
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content fxLayout.gt="row"  fxLayout.xs="column" fxLayout.sm="row">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50%">
      <h2>Responsive Layout</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="90%">
      <img md-card-image src="../../assets/rfid_icon.png" style="width: 300px; height: 300px">
    </div>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content fxLayout.gt="row"  fxLayout.xs="column" fxLayout.sm="row">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="90%">
      <img md-card-image src="../../assets/material-design.png" style="width: 300px; height: 300px">
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50%">
      <h2>Material Design</h2>
      <p>With the </p>
    </div>
  </md-card-content>
</md-card>


