<md-card>
  <md-card-content class="docs-header-headline center" fxLayout="column" fxLayoutAlign="center center"  >
    <img src="../../assets/logo_paolo.png">
    <h2>Tracking your things</h2>
    <a md-raised-button class="docs-button" routerLink="dashboard">Get started</a>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxLayout="column"   fxLayoutAlign="center center" >
      <img src="../../assets/rfid_icon.png" style="height: 300px; width: 300px" alt="Sprint from Zero to App" />
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" >
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>

  </md-card-content>
</md-card>
<md-card>

  <md-card-content fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxLayout="column"   fxLayoutAlign="center center" >
      <img src="../../assets/database.svg" style="height: 300px; width: 300px" alt="Sprint from Zero to App" />
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" >
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>

  </md-card-content>
</md-card>
<md-card>

  <md-card-content fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxLayout="column"   fxLayoutAlign="center center" >
      <img src="../../assets/desktop.svg" style="height: 300px; width: 300px" alt="Sprint from Zero to App" />
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" >
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>

  </md-card-content>
</md-card>

