
<!--<md-card fxLayout="column" fxFlex="100" fxLayoutGap="16px" >-->

  <!--&lt;!&ndash;<md-card-content fxLayoutAlign="center start">&ndash;&gt;-->
    <!--&lt;!&ndash;<h1>Angular MCON</h1>&ndash;&gt;-->
  <!--&lt;!&ndash;</md-card-content>&ndash;&gt;-->
  <!--&lt;!&ndash;<h2>One Master Controller Rule All your Readers</h2>&ndash;&gt;-->

  <!--&lt;!&ndash;<div>&ndash;&gt;-->
    <!--&lt;!&ndash;<a md-raised-button class="docs-button" routerLink="dashboard">Get started</a>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</md-card>-->
<md-card>
  <md-card-content class="docs-header-headline center" fxLayout="column" fxLayoutAlign="center center"  >
    <img src="../../assets/Picture1.png">
    <h1>Angular MCON</h1>
    <h2>One Master Controller Rule All your Readers</h2>
    <a md-raised-button class="docs-button" routerLink="dashboard">Get started</a>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxLayout="column"  fxLayoutAlign="center center" >
      <img src="../../assets/sprintzerotoapp.svg" alt="Sprint from Zero to App" />
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" >
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>

  </md-card-content>
</md-card>
<header class="docs-header-background">
  <div class="docs-header-section">
      <div class="docs-header-headline">
        <img src="../../assets/Picture1.png">
        <h1>Angular MCON</h1>
        <h2>One Master Controller Rule All your Readers</h2>
      </div>
      <div class="docs-header-start">
        <a md-raised-button class="docs-button" routerLink="dashboard">Get started</a>
      </div>

  </div>
</header>

<div class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
    <img src="../../assets/sprintzerotoapp.svg" alt="Sprint from Zero to App" />
  </div>
    <div class="docs-homepage-promo-desc">
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img src="../../assets/fastandconsistent.svg" alt="Fast and Consistent" />
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Fast and Consistent</h2>
      <p>Finely tuned performance, because every millisecond counts. Fully tested across
        modern browsers.</p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <img src="../../assets/versatile.svg" alt="Versatile" />
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Versatile</h2>
      <p>Themable, for when you need to stay on brand or just have a favorite color.
        Accessible and internationalized so that all users are welcome.</p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <img src="../../assets/optimized.svg" alt="Optimized for Angular" />
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Optimized for Angular</h2>
      <p>Built by the Angular team to integrate seamlessly with Angular.</p>
    </div>
  </div>
  <div class="docs-homepage-bottom-start">
    <a md-raised-button class="docs-button" routerLink="/dashboard">Get started</a>
  </div>

</div>
