sudo: required
dist: trusty
addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
language: node_js
node_js:
  - 6
  - 7
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm install -g firebase-tools
  - npm install -g @angular/cli
install:
  - npm i -g angular-cli-ghpages
  - npm install
  - npm run postinstall
script:
  - npm run ci
  - firebase deploy --token 1/oAJAFTfrGVpFbgic6QeanBSIe_UzjNRnnrrfOXrm7O8
