language: node_js
node_js:
  - 6
  - 7

sudo: required

install: true  # yarn bug

addons:
  firefox: "45.0"

os:
  - linux

addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable

before_install:
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start

before_script:
  - npm install


after_failure:
  - cat /home/travis/build/mpetkov/ng2-finance/npm-debug.log

branches:
  only: master

notifications:
  email: true
  webhooks:
    urls: https://webhooks.gitter.im/e/565e4b2fed3b96c1b964
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

cache:
  directories: node_modules

script:
  - npm run ci
after_success:
    angular-cli-ghpages --repo=https://GH_TOKEN@github.com/angular-mcon.git --name="maudel" --email=mauricio.delaquintana@mojix.com
