
.margin-left-right-50 {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
mat-sidenav {
  width: 200px;
}
.mat-form-field {
  .mat-form-field-underline{
    position: relative !important;
    width: 10px;
  }

}

mat-card{
  margin: 50px;
}
@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}
ngx-datatable{
  height: 80vh;
}
