<app-dashboard-navbar (toggleSidenav)="sidenav.toggle()" ></app-dashboard-navbar>
<mat-sidenav-container fullscreen class="sidenav-container" style="top: 64px !important;">
  <mat-sidenav  #sidenav
               [opened]="!isScreenSmall()"
               [mode]="isScreenSmall() ? 'over' : 'side'"
               class="sidenav">

    <nav *ngFor="let elem of sideElems">
      <mat-expansion-panel [expanded]="true" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>{{elem.name}}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let component of elem.items">
            <a [routerLink]="component.id"
               routerLinkActive="docs-component-viewer-sidenav-item-selected">
              {{component.name}}
            </a>
          </li>
        </ul>
      </mat-expansion-panel>

    </nav>

  </mat-sidenav>
  <router-outlet></router-outlet>

  <!--<div class="sidenav-content">-->
    <!--<nav mat-tab-nav-bar aria-label="weather navigation links">-->
      <!--<a mat-tab-link-->
         <!--*ngFor="let tabLink of tabLinks; let i = index"-->
         <!--[routerLink]="tabLink.link"-->
         <!--[active]="activeLinkIndex === i"-->
         <!--(click)="activeLinkIndex = i">-->
        <!--{{tabLink.label}}-->
      <!--</a>-->
    <!--</nav>-->
  <!--</div>-->
</mat-sidenav-container>
