<div class="margin-left-right-50">

  <ngx-datatable
    class="material"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [scrollbarV]="true"

    [scrollbarH]="true">
    <ngx-datatable-column prop="doorID" name="Zone" [width]="50"></ngx-datatable-column>
    <ngx-datatable-column prop="reader" name="Reader" [width]="85"></ngx-datatable-column>
    <ngx-datatable-column prop="posXFt" name="X (ft)" [width]="15"></ngx-datatable-column>
    <ngx-datatable-column prop="posYFt" name="Y (ft)"[width]="15"></ngx-datatable-column>
    <ngx-datatable-column prop="posZFt" name="Z (ft)"[width]="15"></ngx-datatable-column>
    <ngx-datatable-column prop="boresightCoazDeg" name="Coaz" [width]="15"></ngx-datatable-column>
    <ngx-datatable-column prop="boresightElevDeg" name="Elev" [width]="15"></ngx-datatable-column>
    <ngx-datatable-column prop="boresightRollDeg" name="Roll"[width]="15"></ngx-datatable-column>
    <ngx-datatable-column prop="tsMod" name="Last Saved Date" [width]="60"></ngx-datatable-column>
    <ngx-datatable-column prop="used" name="Use"[width]="50" ></ngx-datatable-column>
    <ngx-datatable-column prop="delete" [checkboxable]="true" [sortable]="false" name="Delete"[width]="50"></ngx-datatable-column>
  </ngx-datatable>
</div>
