<mat-toolbar color="primary">
  <!--<div *ngIf="isScreenSmall()">-->
    <!--<a mat-button routerLink="/">-->
  <!--<mat-icon class="back-button">chevron_left-->
  <!--</mat-icon>-->
  <!--</a>-->
  <!--<span> Dashboard-->
  <!--</span>-->
  <!--</div>-->

  <a mat-button  routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo"
         src="../../assets/angular-white-transparent.svg"
         alt="Angular">
    <span>MCON</span>
  </a>


  <button  mat-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span fxFlex></span>
  <button mat-mini-fab class="accent" [matMenuTriggerFor]="menu" >
    <mat-icon>person</mat-icon>
  </button>


</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon>settings</mat-icon>
    <span>User Settings</span>
  </button>
  <button mat-menu-item (click)="pickTheme()">
    <span>Toggle Theme</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu>
