<mat-toolbar color="primary" >
  <button  mat-button (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/dashboard" aria-label="Angular Material">
    <span>SFE - Sistema de Facturacion Electronica</span>
  </a>
  <span fxFlex></span>


  <button mat-button [matMenuTriggerFor]="menu" fxLayout="row" fxFlexAlign="space-around" >
    <mat-icon >arrow_drop_down</mat-icon>
    <span>Marco Coronado</span>
    <button mat-mini-fab>
      <mat-icon>person_rounded</mat-icon>
    </button>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon>settings</mat-icon>
    <span>Perfil de Usuario</span>
  </button>
  <button mat-menu-item (click)="pickTheme()">
    <span>Toggle Theme</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Log Out</span>
  </button>
</mat-menu>
