<div class="docs-component-category-list">
  <md-card
    *ngFor="let item of tabElems"
    class="docs-component-category-list-card"
    [routerLink]="['/components/category/', item.id]">
    <md-card-title>{{item.name}}</md-card-title>
    <p class="docs-component-category-list-card-summary">{{item.summary}}</p>
    <div class="docs-component-category-list-card-image"
         [style.backgroundImage]="'url(\'../../../assets/img/component-categories/' + item.id +'.svg\')'">
    </div>
  </md-card>
</div>
