<div class="content"  fxLayoutGap="16px">
  <mat-card fxFlex="40">
    <mat-card-title>
      Inventory Mode Generator
    </mat-card-title>
    <form #form="ngForm" >
      <div fxLayout="column" fxLayoutGap="8px">
        <mat-form-field>
          <input matInput ngModel name="name" placeholder="Name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput ngModel name="ntags" placeholder="Estimated # of tags" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput ngModel name="nantennas" placeholder="Total # of antennas" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput ngModel name="refreshRate" placeholder="Refresh Rate (minutes)" required>
        </mat-form-field>

      </div>

    </form>

  </mat-card>


  <mat-card fxFlex="40"  fxLayoutGap="14px">
    <mat-card-title>
      Inventory Mode Assignments
    </mat-card-title>
    <form #form="ngForm" >
      <div fxLayout="column" fxLayoutGap="8px">

        <mat-form-field>
          <input matInput ngModel name="name" placeholder="Full name" required>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput ngModel name="details" placeholder="Details" rows="15" cols="60" required></textarea>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="24px">
          <mat-checkbox ngModel name="isAdmin">Is Admin?</mat-checkbox>
          <mat-checkbox ngModel name="isCool">Is Cool?</mat-checkbox>
        </div>
      </div>

    </form>
  </mat-card>


  <!--<mat-card fxFlex="80">-->
    <!--<mat-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></mat-icon>-->
    <!--<h2>{{selectedUser.name}}</h2>-->
    <!--<p>{{selectedUser.details}}</p>-->
  <!--</mat-card>-->

  <!--<mat-card fxFlex fxLayout="column" fxLayoutGap="14px">-->
    <!--<mat-slide-toggle [(ngModel)]="selectedUser.isAdmin">Is Admin?</mat-slide-toggle>-->
    <!--<mat-slide-toggle [(ngModel)]="selectedUser.isCool">Is Cool?</mat-slide-toggle>-->
  <!--</mat-card>-->
</div>
