<form fxLayout="column">
  <md-input-container fxFlex="100">
    <input mdInput
           type="text"
           required

           placeholder="Email">
    <md-error>Email is invalid</md-error>
  </md-input-container>
  <md-input-container fxFlex="100">
    <input mdInput
           type="text"
           required
           minlength="8"
           placeholder="Password">
    <md-error>Needs to be at least 8 characters</md-error>
  </md-input-container>
  <div fxFlex="33" fxFlexAlign="end">
    <button md-raised-button (click)="loginUser()">Login</button>
  </div>
</form>
<h3>Social login</h3>
<md-card-actions class="button">
  <button md-raised-button (click)="onSignInGoogle()">Google</button>
  <button md-raised-button (click)="onSignInGoogle()">Twitter</button>
  <button md-raised-button (click)="onSignInGoogle()">Github</button>
  <button md-raised-button (click)="onSignInGoogle()">Facebook</button>
</md-card-actions>
