<form fxLayout="column">
  <md-input-container >
    <input mdInput
           type="text"
           required

           placeholder="Username">
    <md-error>Email is invalid</md-error>
  </md-input-container>
  <md-input-container fxFlex="100">
    <input mdInput
           type="text"
           required
           minlength="8"
           placeholder="Password">
    <md-error>Needs to be at least 8 characters</md-error>
  </md-input-container>

    <!--<md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">-->
      <!--<md-option *ngFor="let language of languages" [value]="language.value">-->
        <!--{{language.value}}-->
      <!--</md-option>-->
    <!--</md-select>-->
  <div fxFlex="33" fxFlexAlign="end">
    <button md-raised-button (click)="loginUser()">Login</button>
  </div>
</form>

