<form fxLayout="column">
  <mat-form-field fxFlex="100">
    <input matInput
           name="email"
           type="email"
           required
           validEmail
           placeholder="Email">
    <mat-error>Email is invalid</mat-error>
  </mat-form-field>
  <mat-form-field fxFlex="100">
    <input matInput
           name="password"
           type="password"
           required
           minlength="8"
           placeholder="Password">
    <mat-error>Needs to be at least 8 characters</mat-error>
  </mat-form-field>
  <div fxFlex="33" fxFlexAlign="end">
    <button mat-raised-button (click)="RegisterUser()">Register</button>
  </div>
</form>
