<div class="margin-left-right-50">

  <ngx-datatable
    class="material"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="50"
    [scrollbarV]="true"

    [scrollbarH]="true">
    <ngx-datatable-column name="aiaName" ></ngx-datatable-column>
    <ngx-datatable-column name="aiaDottedIP"></ngx-datatable-column>
    <ngx-datatable-column name="runningState"></ngx-datatable-column>
    <ngx-datatable-column name="macAddress"></ngx-datatable-column>
    <ngx-datatable-column name="starType"></ngx-datatable-column>
    <ngx-datatable-column name="posXFt"></ngx-datatable-column>
    <ngx-datatable-column name="posYFt"></ngx-datatable-column>
    <ngx-datatable-column name="posZFt"></ngx-datatable-column>
    <ngx-datatable-column name="boresightCoazDeg"></ngx-datatable-column>
    <ngx-datatable-column name="boresightElevDeg"></ngx-datatable-column>
    <ngx-datatable-column name="boresightRollDeg"></ngx-datatable-column>
    <ngx-datatable-column name="tsMod"></ngx-datatable-column>
    <ngx-datatable-column name="used"></ngx-datatable-column>
  </ngx-datatable>
</div>




