/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}
md-card > md-toolbar {
  margin: -24px 0 24px -24px;
  width: calc(100% + 48px);
}

@import "theme.scss";
@include mat-core();
@include angular-material-theme($dark-theme);
