<div class="margin-left-right-50">
  <!--<div class="example-container mat-elevation-z8">-->

    <!--<mat-table #table [dataSource]="dataSource">-->

      <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
            <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

      <!--&lt;!&ndash; ID Column &ndash;&gt;-->
      <!--<ng-container cdkColumnDef="userId">-->
        <!--<mat-header-cell *cdkHeaderCellDef> ID </mat-header-cell>-->
        <!--<mat-cell *cdkCellDef='let row'> {{row.id}} </mat-cell>-->
      <!--</ng-container>-->

      <!--&lt;!&ndash; Name Column &ndash;&gt;-->
      <!--<ng-container cdkColumnDef="userName">-->
        <!--<mat-header-cell *cdkHeaderCellDef> Name </mat-header-cell>-->
        <!--<mat-cell *cdkCellDef="let row"> {{row.reader}} </mat-cell>-->
      <!--</ng-container>-->



      <!--<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>-->
      <!--<mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>-->
    <!--</mat-table>-->

    <!--<mat-paginator #paginator-->
                  <!--[length]="exampleDatabase.data.length"-->
                  <!--[pageIndex]="0"-->
                  <!--[pageSize]="25"-->
                  <!--[pageSizeOptions]="[5, 10, 25, 100]">-->
    <!--</mat-paginator>-->
  <!--</div>-->
</div>
