
.margin-left-right-50 {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
mat-sidenav {
  width: 200px;
}
.mat-form-field {
  .mat-input-underline{
    position: relative !important;
    width: 10px;
  }

}

mat-card{
  margin: 50px;
}
